* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#desktop-nav {
    display: flex;
    width: auto;
    height: 8rem;
    box-shadow: 5px 5px 10px rgb(223, 223, 223);
    align-items: center;
    justify-content:space-around;
    background-image: linear-gradient(rgb(148, 179, 140), rgb(82, 201, 53));
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.logo-img {
    height: 100px;
    margin: 1rem;
}
.logopng {
    width: 100px;
}

.links {
    display: flex;
    list-style-type: none;
    gap: 2rem;
    align-items: center;
    text-decoration: wavy;
}
.links a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}
.cartpng {
    width: 2.5rem;
}


/* HOME PRODUCTS SECTION */


.home-container {
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.home-products-grid {
    grid-gap: 1.3rem;
    display: grid;
    gap: 1.3rem;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-areas:
        "one two four"
        "one two four-low";
}

.grid-one {
    grid-area: one;
}

.grid-two {
    grid-area: two;
}

.grid-three {
    grid-area: four;
}

.grid-four {
    grid-area: four-low;
}
